<header>
    <nav>
        <a href="/">Home</a>
        <ul>
            <li><a href="/shifts">all shifts</a></li>
            <li><a href="/shifts/new">new shift</a></li>
            <li><a href="/shifts/edit">edit shift</a></li>
        </ul>

        <ul>
            <li><a href="/inventory">inventory</a></li>
            <li><a href="/inventory/add">add item into inventory</a></li>
        </ul>

        <ul>
            <li><a href="/items">all items</a></li>
            <li><a href="/items/new">new item</a></li>
            <li><a href="/items/edit">edit item</a></li>
        </ul>

    </nav>
</header>
